html {
    background-color: #fde8e8;
    text-align: center;
}

h1 {
    color: #bc0f0f;
    font-size: 4em;
}

h2 {
    color: #e02424;
    font-size: 3em;
}

footer {
    font-size: smaller;
    margin-top: 100px;
}